extends ../layout

block content
  .container
    h1.main-title 이벤트 수정
    form(action=`/events/${event.id}?_method=PUT`, method="POST")
      include _updateForm
      button.btn.btn-outline-primary(type="submit") 확인
