extends ../layout

include ../includes/_paginate

block content
  .container#my_write-container
    form.form-inline.search-input-group(action='/events', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='검색', aria-label='Search', value=term)

    h1.main-title 내가 신청한 이벤트
    if events.total > 0
      .small#total_set Total #{events.total} event(s)

    if events.total <= 0 
      .alert.alert-info No events available yet
    else
      .events
        //- each in문 => pug에서 지원하는 문법이며 event에는 events라는 배열의 값들이 하나씩 들어감 (배열에 사용되는 것 주로)
        each event in events.docs
          #event-list-box
            include _event-cardform

      +paginate(events, `/events/my_apply/${user.id}`, query)
