header
  nav.navbar.navbar-expand-lg.navbar-light
    a#main-name.navbar-brand(href="/") cotoo
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
          if (!currentUser)
            li.nav-item
              a.nav-link(href='/signin') 로그인
            li.nav-item
              a.nav-link(href='/users/new') 새 계정 만들기
          else if (currentUser.isManager) 
            li.nav-item
              a.nav-link(href='/manager') 관리자 페이지로 이동
            li.nav-item
              a.nav-link(href='/signout') 로그아웃
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) 프로필 보기
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}/edit`) 프로필 관리 
            //- li.nav-item
            //-   a.nav-link(href='/events/my_favorite') 관심있는 이벤트
            li.nav-item
              //- 왜 currentUser._id 정보를 같이 넘겨줘야 되는 건지?
              a.nav-link(href=`/events/my_write/${currentUser._id}`) 내가 작성한 이벤트
            li.nav-item
              a.nav-link(href=`/events/my_apply/${currentUser._id}`) 내가 신청한 이벤트
            li.nav-item
              a.nav-link(href='/signout') 로그아웃

