header
  nav.navbar.navbar-expand-lg.navbar-light
    a#main-name.navbar-brand(href="/") cotoo
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') 로그인
            li.nav-item
              a.nav-link(href='/users/new') 새 계정 만들기
          else
            li.nav-item
              a.nav-link(href='/signin') 프로필 보기
            li.nav-item
              a.nav-link(href='/users/new') 프로필 관리
            li.nav-item
              a.nav-link(href='/signin') 내가 쓴 게시물
            li.nav-item
              a.nav-link(href='/users/new') 내가 지원한 스터디
            li.nav-item
              a.nav-link(href='/signin') 로그아웃

