extends layout
   
block content
  section
    #carouselExampleSlidesOnly.carousel.slide(data-ride="carousel")
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src="/images/carousel_images/carousel_image1.jpg", alt="First slide")
        .carousel-item
          img.d-block.w-100(src="/images/carousel_images/carousel_image2.jpg", alt="Second slide")
        .carousel-item
          img.d-block.w-100(src="/images/carousel_images/carousel_image3.jpg", alt="Third slide")
  section
    #search-layer
      #search-layer-top
        a.nav-link(href="/events/new") 새로운 이벤트를 등록해주세요!
      #search-layer-bottom
        //- get events
        form(action="/events", method='GET')
          .form-row
            input.btn.btn-primary(type="submit", value="검색")
            .form-row-1
              input.form-control(type="text", name="searchKey",placeholder="이벤트 검색", id="search-bar", autocomplete="off")
              i.fa.fa-spin.fa-spinner
              ul.suggest-box
    .title 가장 최신 이벤트
    .grid-content
      each event in events
        include ./events/_event-cardform
    .grid-seeMore
      a.btn.btn-primary(href="/events" role="button" aria-pressed="true") SEE MORE

